<template id="t-/* @TEMPLATE_ID */">
    <!-- @TEMPLATE -->
    <style>
        /* @STYLE */
    </style>
</template>
<script>
    window.customElements.define(
        "/* @TAG_NAME */",
        class extends HTMLElement {
            #shadow;

            constructor() {
                super();

                this.#shadow = this.attachShadow({ mode: "closed" });
                this.#shadow.appendChild(
                    document.querySelector("#t-/* @TEMPLATE_ID */")
                        .content
                        .cloneNode(true)
                );
            }

            /* @SCRIPT */
        }
    );
</script>