<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><!-- @NAME --></title>
        <link rel="stylesheet" href="./global.css">
        <link rel="stylesheet" href="./shared.css">
        <link rel="stylesheet" href=".//* @TARGET */.css">
        <script src=".//* @TARGET */.js"></script>
    </head>
    <body>
        <!-- @GLOBAL_SFC_HTML -->
        <!-- @SHARED_SFC_HTML -->
        <!-- @SFC_HTML -->
        <!-- @HTML -->
    </body>
</html>