:host {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    background-color: lightgoldenrodyellow;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.75rem 0.075rem rgba(0, 0, 0, 0.1);
}

strong {
    text-transform: uppercase;
}